@import '../../styles/variables';


.main {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EAEAF0;
}


