$font-family: "IBM Plex Mono", monospace;


$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


$width: calc(100% - var(--sidebar-width));


$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;


@media (max-width: $mobile) {
}

@media (max-width: $tablet) {
}

@media (max-width: $desktop) {
}

@media (max-width: $large-desktop) {
}