.profilePicture {
  display: flex;
  justify-content: start;
  gap: 25px;
  padding-bottom: 25px;

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: gray;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      height: 60px;
      padding: 25px;
      border-radius: 10px;
      border: 1px solid black;
      background: none;
      cursor: pointer;
    }

    .fileLabel {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      height: 60px;
      padding: 25px;
      border-radius: 10px;
      border: 1px solid black;
      background: none;
      cursor: pointer;
    }

    .fileInput {
      display: none;
    }
  }
}
