@import '../../../styles/variables';

.filterBar {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    font-size: 0.875rem;
  }
}


@media (max-width: $mobile) {
}

@media (max-width: $tablet) {
  .filterBar {

    input {
      font-size: 0.75rem;
    }
  }
}

@media (max-width: $desktop) {
  .filterBar {
    margin-bottom: 10px;
  }
}

@media (max-width: $large-desktop) {
}