@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ededed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 25px;

  input, textarea {
    padding: 10px;
    font-size: 1rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  width: 100%;
}

.plainButton {
  background: none;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}
