@import '../../styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  color: #29303D;
  z-index: 1000;
  transition: width 0.3s ease;
  outline: 1px solid #EDEDED;
  box-sizing: border-box;


  .nav {
    outline: 1px solid #EDEDED;
    box-sizing: border-box;
    flex-grow: 1;

  }

  .textHidden {
    opacity: 0;
  }
}


