@import '@/styles/variables';
@import 'User.module';
@import 'Stack.module';


.dashboardContainer {
  width: 100%;
  box-sizing: border-box;
  outline: 1px solid #EDEDED;
}

.dashboardItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboardItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #EDEDED;
}

.projectName,
.projectDescription,
.daysToComplete {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  padding: 15px;
}

.dashboardElement {
  width: 150px;
  margin: auto;
  padding: 25px 0;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: $font-weight-regular;
}

.done {
  background-color: #EEFAF1;
  color: #3DA353;
}

.inProgress {
  background-color: #FAF5ED;
  color: #BE8C50;
}

.readyToStart {
  background-color: #b3e0f1;
  color: #3a5694;
}

.searching {
  background-color: #EDEDED;
  color: #949792;
}



@media (max-width: $mobile) {
}

@media (max-width: $tablet) {

  .status {
    font-size: 0.625rem;
    padding: 3px 5px;
  }

  .dashboardItem {
    font-size: 0.625rem;

    .projectName,
    .daysToComplete {
      padding: 15px;
    }
    .projectDescription {
      display: none;
    }
  }

  .dashboardElement {
    padding: 20px 0;
  }

  .daysToComplete {
    width: 100px;
  }
}

@media (max-width: $desktop) {
}

@media (max-width: $large-desktop) {
  .status {
    font-size: 0.75rem;
    padding: 3px 5px;
  }

  .dashboardItem {
    font-size: 0.875rem;

    .projectName,
    .projectDescription,
    .daysToComplete {
      padding: 15px;
    }
  }

  .dashboardElement {
    padding: 20px 0;
  }

  .daysToComplete {
    width: 100px;
  }
}