@import '../../styles/variables';

.dashboardContainer {
  width: $width;
  padding: 25px;
  box-sizing: border-box;
  transition: width 0.5s ease-out;
}

.dashboardItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  outline: 1px solid #EDEDED;
}

.dashboardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #EDEDED;
  background-color: #fff;
  border-radius: 10px;
}



@media (max-width: $mobile) {
}

@media (max-width: $tablet) {
}

@media (max-width: $desktop) {
  .dashboardContainer {
    width: calc(100% - 70px);
    padding: 15px;
  }
}

@media (max-width: $large-desktop) {
}