@import '@/styles/variables';

.dashboardContainer {
  width: 100%;
  box-sizing: border-box;
  outline: 1px solid #EDEDED;
}

.dashboardItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboardItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #EDEDED;
}

.projectName,
.projectDescription,
.daysToComplete {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  padding: 25px;
}

.dashboardElement {
  width: 150px;
  margin: auto;
  padding: 25px 0;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: $font-weight-regular;
}

.done {
  background-color: #EEFAF1;
  color: #3DA353;
}

.inProgress {
  background-color: #FAF5ED;
  color: #BE8C50;
}

.readyToStart {
  background-color: #b3e0f1;
  color: #3a5694;
}

.searching {
  background-color: #EDEDED;
  color: #949792;
}

.users {
  display: flex;
  gap: 10px;

  li {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }

    .tooltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #333;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      font-size: 0.75rem;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      z-index: 10;
    }
  }
}

.userAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #EDEDED;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.stackCircles {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  padding-right: 50px;

}

.stackCircle {
  width: 15px;
  height: 15px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #000;
  position: absolute;
  cursor: pointer;
  z-index: 1;

  .tooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 40;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.stackCircle:nth-child(1) {
  left: 0;
  transform: translateX(-50%);
  z-index: 7;
}

.stackCircle:nth-child(2) {
  left: 10px;
  transform: translateX(-50%);
  z-index: 6;
}

.stackCircle:nth-child(3) {
  left: 20px;
  transform: translateX(-50%);
  z-index: 5;
}

.stackCircle:nth-child(4) {
  left: 30px;
  transform: translateX(-50%);
  z-index: 4;
}
.stackCircle:nth-child(5) {
  left: 40px;
  transform: translateX(-50%);
  z-index: 3;
}

.stackCircle:nth-child(6) {
  left: 50px;
  transform: translateX(-50%);
  z-index: 2;
}

.stackCircle:nth-child(7) {
  left: 60px;
  transform: translateX(-50%);
  z-index: 1;
}

