@import '@/styles/variables';

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.stackCircles {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  padding-right: 50px;

}

.stackCircle {
  width: 15px;
  height: 15px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #000;
  position: absolute;
  cursor: pointer;
  z-index: 1;

  .tooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.5rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 40;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.stackCircle:nth-child(1) {
  left: 0;
  transform: translateX(-50%);
  z-index: 7;
}

.stackCircle:nth-child(2) {
  left: 10px;
  transform: translateX(-50%);
  z-index: 6;
}

.stackCircle:nth-child(3) {
  left: 20px;
  transform: translateX(-50%);
  z-index: 5;
}

.stackCircle:nth-child(4) {
  left: 30px;
  transform: translateX(-50%);
  z-index: 4;
}
.stackCircle:nth-child(5) {
  left: 40px;
  transform: translateX(-50%);
  z-index: 3;
}

.stackCircle:nth-child(6) {
  left: 50px;
  transform: translateX(-50%);
  z-index: 2;
}

.stackCircle:nth-child(7) {
  left: 60px;
  transform: translateX(-50%);
  z-index: 1;
}


@media (max-width: $mobile) {
}

@media (max-width: $tablet) {
}

@media (max-width: $desktop) {
}

@media (max-width: $large-desktop) {

}