@import '@/styles/variables';

.editableList {
  width: 50%;
  padding-right: 25px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-weight-regular;
    font-size: 1rem;

    h3 {
      margin: 0;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: #000;
    }
  }

  .newItem {
    display: flex;
    margin-bottom: 10px;

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
    }

    button {
      padding-left: 15px;
      background: none;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      button {
        background: none;
        border: none;
        cursor: pointer;
        color: #000;
        padding-left: 25px;
      }
    }
  }
}
