@import '../../../styles/variables';

.profile {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid #EDEDED;
  padding-left: 20px;

  .textWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    overflow: hidden;
    height: 100%;

    .name {
      font-size: 1rem;
      color: #29303D;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      font-size: 0.875rem;
      color: #777;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .imageWrapper {
    position: relative;
    flex: 0 0 auto;

    .image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .statusIndicator {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      outline: 2px solid #fff;

      &.Online {
        background-color: #3DA353;
      }

      &.Away {
        background-color: #de8a38;
      }

      &.Busy {
        background-color: #de3838;
      }

      &.Offline {
        background-color: #7a7a7a;
      }
    }
  }

  .profileExitWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
    border-left: 1px solid #EDEDED;

    .logoutButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: #000;

    }
  }

  .profileEnterWrapper {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginButton {
      display: flex;
      align-items: center;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;
    }
  }
}

.textHidden {
  display: none;
  opacity: 0;
}
