@import '../../../styles/variables';

.profile {
  display: flex;
  align-items: center;
  padding: 25px 15px;
  box-sizing: border-box;
  border-top: 1px solid #EDEDED;

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    overflow: hidden;
    margin-left: 15px;
    height: 100%;


    .name {
      font-size: 1rem;
      color: #29303D;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      font-size: 0.875rem;
      color: #777;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .imageWrapper {
    position: relative;
    flex: 0 0 auto;

    .image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .statusIndicator {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      outline: 2px solid #fff;

      &.Online {
        background-color: #3DA353;
      }

      &.Away {
        background-color: #de8a38;
      }

      &.Busy {
        background-color: #de3838;
      }

      &.Offline {
        background-color: #7a7a7a;
      }
    }
  }
}

.textHidden {
  display: none;
}
