@import '../../../styles/variables';

.projects {
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #EDEDED;

    h2 {
      color: #29303D;
      font-size: 1rem;
      padding-left: 25px;
    }

    .icon {
      width: 25px;
      height: 25px;
      color: gray;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .rotated {
      transform: rotate(180deg);
    }
  }

  .projectList {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 25px;
      box-sizing: border-box;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;

        .indicator {
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }
      }

      .projectName {
        font-size: 1rem;
        color: #333;
        padding-left: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      }
    }

    .projectItem {
      cursor: pointer;
    }
  }
}

.textHidden {
  display: none;
}
